.footer {
  height: 31.2rem;
  width: 100%;
  background-image: linear-gradient(rgba($Cyan-600, 0.9), rgba($Cyan-600, 0.9)),
    url(/assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -2.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 112rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__heading {
    @include text-preset-2;

    color: $White;
    width: 44.5rem;
  }

  &__text {
    @include text-preset-4;

    color: $White;
    width: 35.5rem;
  }
}
