.footer {
  height: 31.2rem;
  width: 100%;
  background-image: linear-gradient(rgba($Cyan-600, 0.9), rgba($Cyan-600, 0.9)),
    url(/assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -2.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tablet) {
    height: 32rem;
  }

  @include respond(mobile) {
    height: auto;
    padding: 7rem 2rem;
  }

  &__content {
    width: 112rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tablet) {
      width: 50.4rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2.4rem;
    }
  }

  &__heading {
    @include text-preset-2;

    color: $White;
    width: 44.5rem;

    @include respond(tablet) {
      width: auto;
    }
  }

  &__text {
    @include text-preset-4;

    color: $White;
    width: 35.5rem;

    @include respond(tablet) {
      width: auto;
    }
  }

  .btn {
    align-self: center;
  }
}
