.header {
  margin: $Spacing-800 0;
  padding: 3.9rem 0 0.9rem 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $Spacing-400;

  background-image: url(/assets/desktop/image-hero-left.png),
    url(/assets/desktop/image-hero-right.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 56rem) top, calc(50% + 56rem) bottom;
  background-size: 39.5rem 30.3rem;

  @include respond(tablet) {
    padding-top: 36rem;
    background-position: calc(50% - 22rem) top, calc(50% + 22rem) top;
  }

  @include respond(mobile) {
    background-size: 20.805rem 16rem;
    background-position: calc(50% - 11.4025rem) top, calc(50% + 11.4025rem) top;
    padding-top: 22rem;
  }

  &__title {
    @include text-preset-1;
    max-width: 44.5rem;
  }

  &__text {
    @include text-preset-4;

    color: $Slate-600;
    max-width: 52.5rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;

    @include respond(mobile) {
      flex-direction: column;
    }
  }
}
