*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 338px) {
    font-size: 55%;
  }

  @media screen and (max-width: 282px) {
    font-size: 45%;
  }
}

body {
  background-color: $White;

  display: flex;
  flex-direction: column;
  align-items: center;
}
